<!doctype html>
<html lang="pt-br">
{% load static %}
{% load formata_dados %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Relatório de Consultas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link href="{% static 'css/pdf-relatorio-consultas.css' %}" rel="stylesheet">
</head>
<body>

{# ************************* Cabecalho das páginas *************************  #}
<header>
    <div class="d-flex">
        <div class="col-4 d-flex align-items-center">
            <img src="{% static '/images/logo-menu-superior.png' %}" alt="logo">
        </div>
        <div class="col-8 d-flex align-items-center justify-content-center text-center">
            <h2 class="mb-0">Relatório de Consultas</h2>
        </div>
    </div>
</header>
{# ************************* Fim Cabecalho das páginas *************************  #}

{# ************************* Rodape ************************* #}
<p id="nome-associacao-rodape" class="font-10">
    <i>Documento gerado por {{ usuario_logado }}, via Vet Sys em {{ data_atual }}</i>
</p>
{# ************************* Fim Rodape ************************* #}

<section class="conteudo mt-0">

    <section class="row">
        {% if consultas %}
            <table class="table table-bordered">
                {% for consulta in consultas %}
                    <thead class="table-light">
                    <tr>
                        <th class="th-fundo-branco py-2 pl-2">
                            <p class="font-14 titulo mb-0 mt-0 px-0"><strong>Data da Consulta</strong></p>
                        </th>
                        <th class="th-fundo-branco py-2 pl-2">
                            <p class="font-14 titulo mb-0 mt-0 px-0"><strong>Paciente</strong></p>
                        </th>
                        <th class="th-fundo-branco py-2 pl-2">
                            <p class="font-14 titulo mb-0 mt-0 px-0"><strong>Cliente</strong></p>
                        </th>
                        <th class="th-fundo-branco py-2 pl-2">
                            <p class="font-14 titulo mb-0 mt-0 px-0"><strong>Veterinário</strong></p>
                        </th>
                        <th class="th-fundo-branco py-2 pl-2">
                            <p class="font-14 titulo mb-0 mt-0 px-0"><strong>Tipo de consulta</strong></p>
                        </th>
                        <th class="th-fundo-branco py-2 pl-2">
                            <p class="font-14 titulo mb-0 mt-0 px-0"><strong>Cadastrado em</strong></p>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            {{ consulta.data_da_consulta|formata_data }}
                        </td>
                        <td>
                            <p class="mb-0">{{ consulta.paciente.nome }}</p>
                        </td>
                        <td>
                            <p class="mb-0">{{ consulta.cliente.nome }}</p>
                        </td>
                        <td>
                            <p class="mb-0">{{ consulta.veterinario.nome }}</p>
                        </td>
                        <td>
                            <p class="mb-0">{{ consulta.tipo_de_consulta }}</p>
                        </td>

                        <td>
                            {{ consulta.criado_em}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <p class="mb-0" style="font-weight: bold">Ficha Clínica: {{ consulta.ficha_clinica }}</p>
                        </td>
                    </tr>
                    <tr style="border: none !important;">
                        <td colspan="6" class="py-2" style="border: none !important;">

                        </td>
                    </tr>
                    </tbody>

                {% endfor %}

            </table>
        {% endif %}
    </section>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>